.welcomescreen{
	width:250px;
	height:250px;
	border:1px solid black;
}

.matches{
	width:250px;
	height:250px;
	border:1px solid black;
}

.vacatures{
	width:250px;
	height:250px;
	border:1px solid black;
}

.gegevens{
	width:250px;
	height:250px;
	border:1px solid black;
}

.competenties{
	width:250px;
	height:250px;
	border:1px solid black;
}